
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box:border-box;
    box-sizing: border-box;
}
body{
    background: #0b50c5;

}

header{
    background: #1d7477;
    text-align: center;
    color: #fff;
    line-height: 120px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-shadow:2px 2px 4px #000000 ;
    box-sizing: border-box;
}

.Logo{
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

.MiTitulo{
    margin-right: 1000px ;
}

.navegar{
    background: #fff;
    width: 100%;
}

.navegar  ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu >li > a{
    display: block;
    padding: 15px   20px;
    color: rgb(0, 0, 0);
    font-family:'Open sans';
    text-decoration: none;
}

.menu  li a:hover{
    background: #1d7477;
    color:rgb(255, 255, 255);
    transition: all .3s;
}

.Men{
    position: absolute;
    background: #1d7477;
    width: 10%;
    display: none;
}

.Men  li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:'Open sans';
    text-decoration: none;
}

.Men  li a:hover{
    background: #00f7ff;
    color:rgb(255, 255, 255);
    transition: all .3s;
}

.menu li:hover  .Men{
    display: block;
}

.new{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.contenedor{
    max-width: 1500px;
    display: flex;
    background: rgb(79, 88, 102);
    margin: 0 auto;
    color:rgb(255, 255, 255);
    border-radius: 0 0 20px 20px;
    padding: 30px  50px;
    box-sizing: border-box
}

img{
    width: 100%;
}

.parrafo{
    max-width: 1350px;
    min-height: 50px;
    background: #fff;
    margin: 0 20px;
    padding: 30px   50px;
    color: rgb(0, 0, 0);
    font-family:'Open sans';
    text-decoration: none;
    border-radius: 20px;
    float: left;
}

.podcast{
    max-width: 1500px;
    min-height: 50px;
    background: #fff;
    margin: 0 auto;
    padding: 30px   50px;
    color: rgb(0, 0, 0);
    font-family:'Open sans';
    text-decoration: none;
    border-radius: 20px;
}

.titulo{
    text-align: left;
}

.video{
    max-width: 1500px;
    min-height: 50px;
    background: rgb(79, 88, 102);
    margin: 0 auto;
    padding: 30px   50px;
    color: rgb(0, 0, 0);
    font-family:'Open sans';
    text-align: center;
    text-decoration: none;
}

.Elvideo{
    max-width: 1350px;
    min-height: 50px;
    background: #fff;
    margin: 0 auto;
    padding: 30px   50px;
    border-radius: 20px;
}

aside{
    float: right;
    margin: 0 20px;
    background: #9e9e9e;
    padding: 20px   25px;
    color: #fff;
    font-family:'Open sans';
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 20px;
}

.Autor{
    max-width: 1350px;
    min-height: 50px;
    background: #fff;
    margin: 0 auto;
    padding: 30px   50px;
    color: rgb(0, 0, 0);
    font-family:'Open sans';
    text-decoration: none;
    border-radius: 20px;
}

footer{
    clear: both;
    max-width: 1500px;
    min-height: 130px;
    background: rgb(79, 88, 102);
    margin: 0 auto;
    color:rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    padding: 30px   50px;
    box-sizing: border-box;
}

.estruc{
    margin: auto 50px;
    width: 80%;
    color:rgb(0, 0, 0);
    max-width: 2000px;
}

.etiq{
    margin: auto 50px;
    width: 80%;
    color:rgb(0, 0, 0);
    max-width: 2000px;
}

